@font-face {
    font-family: 'Outfit-Black';
    font-weight: 700;
    src: url('dist/fonts/Outfit-Black.ttf')
}

@font-face {
    font-family: 'Outfit-Light';
    font-weight: 400;
    src: url('dist/fonts/Outfit-Light.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
}

.qrcode-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.details h3 {
    font-family: Outfit-Black, Arial, sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px 1rem 5px;
}

.details p {
    font-family: Outfit-Light, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 0 10px 2rem 10px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    background-color: rgba(255, 255, 255, 0.25);
    font-family: Outfit-Regular, Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

.attribution a {
    font-weight: 700;
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}

@media (max-width: 600px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .qrcode-image img {
        margin-bottom: 1.5rem;
    }

    .details h3 {
        font-size: 20px;
    }

    .details p {
        font-size: 15px;
    }
}